html, body{
    padding:0;
    margin:0;
}

header{
    display:flex;
    justify-content: center;
    position:fixed;
    top:0;
    left:0;
    background-color: white;
    z-index:1;
    width:100%;
}

.degrade{
    background: linear-gradient(to top, transparent, white 25%);
}

header a {
    font-family: 'Safira March Personal Use';
    color:black;
    margin:auto;
}

/*Lien normal*/
a:link{
    text-decoration: none;
}

/*Lien survolé*/
a:hover{
    text-decoration: none;
}

/*Lien cliqué*/
a:active{
    text-decoration: none;
}

/*Lien visité*/
a:visited{
    text-decoration: none;
}

header img{
    width:12%;
    height:auto;
}

h1{
    font-family: "Gallient";
    font-size: 50px;
    text-align: center;
}

main{
    margin-top:15vh;
}

h2{
    font-family: 'Safira March Personal Use';
    color: black;
    text-align: center;
}

#modelisation{
    background-color: #D9D9D9;
    border-radius: 15px;
    border:solid 2px black;
    width:90%;
    height:600px;
    margin:auto;
    margin-bottom: 3%;
}

#explication{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#texte{
    width:40%;
}

#img{
    width:55%;
}

#img1, #img2, #img3{
    background-color: #D9D9D9;
    border-radius: 15px;
    border:solid 2px black;
    margin:3%;
}

#img1{
    background-image: url(images/bombe.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:36%;
    height:250px;
    float:left;
}

#img2{
    width:50%;
    height:250px;
    margin-left: 43%;
    background-image: url(images/texture.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#img3{
    width:90%;
    height:250px;
    background-image: url(images/face_bombe.JPG);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}


h3{
    font-family: 'Safira March Personal Use';
    color: black;
    text-align: center;
}

p{
    width:90%;
    font-family: "Alegreya";
    font-size: 20px;
    text-align: justify;
    margin-left:5%;
}

/*CSS pour le footer*/
#contact{
    display: flex;
    justify-content: center;
    flex-direction:row;
}

footer{
    height:10%;
    width:100%;
}

footer h3{
    font-family: 'Safira March Personal Use';
    color: black;
    text-align: center;
}

footer img{
    height:8vh;
    width:auto;
    padding-left:1%;
    padding-right:1%;
    padding-bottom:1%;
}

footer img:hover{
    cursor: pointer;
}

footer p{
    font-family: "Alegreya";
    font-size: 16px;
    text-align: center; 
}