html, body{
    padding:0;
    margin:0;
}

/*Media queries pour tel*/
@media only screen and (max-width: 768px) {
    header{
        display: flex;
        flex-direction: row;
        justify-content:center;
        position:fixed;
        bottom:0;
        left:0;
        background-color: white;
        z-index:1;
        width:100%;
    }
    
    .degrade{
        background: linear-gradient(to bottom, transparent, white 25%);
    }
    
    header a {
        font-family: 'Safira March Personal Use';
        color:black;
    }
    
    /*Lien normal*/
    a:link{
        text-decoration: none;
    }
    
    /*Lien survolé*/
    a:hover{
        text-decoration: none;
    }
    
    /*Lien cliqué*/
    a:active{
        text-decoration: none;
    }
    
    /*Lien visité*/
    a:visited{
        text-decoration: none;
    }
    
    header img{
        width:150px;
        height:auto;
    }
    
    button:hover{
        cursor: pointer;
    }
    
    button{
        font-family: "Safira March Personal Use";
        background-color: #D9D9D9;
        color:black;
        border:solid 2px black;
        border-radius: 15px;
        font-size: 20px;
        padding:auto;
        width:5%;
        height:60px;
        margin-top:1vh;
        overflow: hidden;
    }
    
    h1{
        font-family: "Gallient";
        font-size: 40px;
        text-align: center;
    }
    
    svg{
    
        display:none;
    }
    
    main{
        margin-bottom:15vh;
    }
    
    h2{
        font-family: 'Safira March Personal Use';
        color: black;
        font-size: 12px;
        text-align: center;
    }
    
    h3{
        font-family: 'Safira March Personal Use';
        color: black;
        font-size: 16px;
        text-align: center;
    }
    
    h5{
        font-family: 'Safira March Personal Use';
        font-size: 8px;
        color: black;
        text-align: center;
    }
    
    #logo{
        background-color: #D9D9D9;
        background-image: url(logo_colonie.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border : solid 1px black;
        border-radius: 15px;
        width:40%;
        height: 280px;
        float:left;
        margin-left:5%;
        margin-right: 3%;
        margin-top:8%;
    }
    
    #infos{
        margin-right:5%;
        margin-bottom: 80px;
    }
    
    p{
        font-family: "Alegreya";
        font-size: 14px;
        text-align: justify;
    }
    
    #icones{
        background-color: #D9D9D9;
        background-image: url(icones.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border : solid 1px black;
        border-radius: 15px;
        width:50%;
        height:350px;
        margin-left:4%;
        margin-top:4%;
        margin-bottom:4%;
    
    }
    
    /*CSS pour le footer*/
    #contact{
        display: flex;
        justify-content: center;
        flex-direction:row;
    }
    
    footer{
        height:10%;
        width:100%;
        margin-bottom:15%;
    }
    
    footer h3{
        font-family: 'Safira March Personal Use';
        color: black;
        text-align: center;
    }
    
    footer img{
        height:6vh;
        width:auto;
        padding-left:1%;
        padding-right:1%;
        padding-bottom:1%;
    }
    
    footer img:hover{
        cursor: pointer;
    }
    
    footer p{
        font-family: "Alegreya";
        font-size: 16px;
        text-align: center; 
    }

}/*fin media queries pour tel*/

/*Media queries pour tablette*/
@media screen and (min-width:768px) and (max-width:960px) {

header{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    position:fixed;
    top:0;
    left:0;
    background-color: white;
    z-index:1;
    width:100%;
}

.degrade{
    background: linear-gradient(to top, transparent, white 25%);
}

header a {
    font-family: 'Safira March Personal Use';
    color:black;
}

/*Lien normal*/
a:link{
    text-decoration: none;
}

/*Lien survolé*/
a:hover{
    text-decoration: none;
}

/*Lien cliqué*/
a:active{
    text-decoration: none;
}

/*Lien visité*/
a:visited{
    text-decoration: none;
}

header img{
    width:150px;
    height:auto;
}

button:hover{
    cursor: pointer;
}

button{
    font-family: "Safira March Personal Use";
    background-color: #D9D9D9;
    color:black;
    border:solid 2px black;
    border-radius: 15px;
    font-size: 9px;
    padding:auto;
    width:17%;
    height:55px;
    margin-top:1vh;
}

h1{
    font-family: "Gallient";
    font-size: 40px;
    text-align: center;
}

svg{

    display:none;
}

main{
    margin-top:15vh;
}

h2{
    font-family: 'Safira March Personal Use';
    color: black;
    font-size: 12px;
    text-align: center;
}

h3{
    font-family: 'Safira March Personal Use';
    color: black;
    font-size: 16px;
    text-align: center;
}

h5{
    font-family: 'Safira March Personal Use';
    font-size: 10px;
    color: black;
    text-align: center;
}

#logo{
    background-color: #D9D9D9;
    background-image: url(logo_colonie.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border : solid 1px black;
    border-radius: 15px;
    width:40%;
    height: 360px;
    float:left;
    margin-left:5%;
    margin-right: 3%;
}

#infos{
    margin-right:5%;
    margin-bottom: 150px;
}

p{
    font-family: "Alegreya";
    font-size: 16px;
    text-align: justify;
}

#icones{
    background-color: #D9D9D9;
    background-image: url(icones.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border : solid 1px black;
    border-radius: 15px;
    width:35%;
    height:350px;
    margin-left:4%;
    margin-top:4%;
    margin-bottom:4%;

}

/*CSS pour le footer*/
#contact{
    display: flex;
    justify-content: center;
    flex-direction:row;
}

footer{
    height:10%;
    width:100%;
}

footer h3{
    font-family: 'Safira March Personal Use';
    color: black;
    text-align: center;
}

footer img{
    height:6vh;
    width:auto;
    padding-left:1%;
    padding-right:1%;
    padding-bottom:1%;
}

footer img:hover{
    cursor: pointer;
}

footer p{
    font-family: "Alegreya";
    font-size: 16px;
    text-align: center; 
}

}/*fin media queries pour tablette*/

/*Media queries pour PC portable*/
@media screen and (min-width:960px) and (max-width:1600px) {

header{
    display: flex;
    flex-direction: row;
    justify-content:center;
    position:fixed;
    top:0;
    left:0;
    background-color: white;
    z-index:1;
    width:100%;
}

.degrade{
    background: linear-gradient(to top, transparent, white 25%);
}

header a {
    font-family: 'Safira March Personal Use';
    color:black;
}

/*Lien normal*/
a:link{
    text-decoration: none;
}

/*Lien survolé*/
a:hover{
    text-decoration: none;
}

/*Lien cliqué*/
a:active{
    text-decoration: none;
}

/*Lien visité*/
a:visited{
    text-decoration: none;
}

header img{
    width:20%;
    height:auto;
    padding-left:40%;
}

button:hover{
    cursor: pointer;
}

button{
    font-family: "Safira March Personal Use";
    background-color: #D9D9D9;
    color:black;
    border:solid 2px black;
    border-radius: 15px;
    font-size: 9px;
    padding:auto;
    width:17%;
    height:35px;;
    margin-top:1%;
}

h1{
    font-family: "Gallient";
    font-size: 50px;
    text-align: center;
}

svg{
    position:absolute;
    z-index:-10;
    top:0%;
    Left:15%;
}

main{
    margin-top:15vh;
}

h2{
    font-family: 'Safira March Personal Use';
    color: black;
    text-align: center;
}

h3{
    font-family: 'Safira March Personal Use';
    color: black;
    text-align: center;
}

h5{
    font-family: 'Safira March Personal Use';
    font-size: 14px;
    color: black;
    text-align: center;
}

#logo{
    background-color: #D9D9D9;
    background-image: url(logo_colonie.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border : solid 1px black;
    border-radius: 15px;
    width:30%;
    height: 420px;
    float:left;
    margin-left:7%;
    margin-right: 3%;
}

#infos{
    margin-right:7%;
    margin-bottom: 270px;
}

p{
    font-family: "Alegreya";
    font-size: 20px;
    text-align: justify;
}

#icones{
    background-color: #D9D9D9;
    background-image: url(icones.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border : solid 1px black;
    border-radius: 15px;
    width:30%;
    height:600px;
    margin-left:4%;
    margin-top:4%;
    margin-bottom:4%;

}

/*CSS pour le footer*/
#contact{
    display: flex;
    justify-content: center;
    flex-direction:row;
}

footer{
    height:10%;
    width:100%;
}

footer h3{
    font-family: 'Safira March Personal Use';
    color: black;
    text-align: center;
}

footer img{
    height:8vh;
    width:auto;
    padding-left:1%;
    padding-right:1%;
    padding-bottom:1%;
}

footer img:hover{
    cursor: pointer;
}

footer p{
    font-family: "Alegreya";
    font-size: 16px;
    text-align: center; 
}}/*fin media queries pour PC portable*/

/*Media queries pour PC*/
@media screen and (min-width:1600px) {

}/*fin media queries pour PC*/
